
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    background-size: 100%;
}
.box{ 
   
    position: absolute; 
    width: 1000px;
    padding: 1000px;
    top : 50%;
    left: 0%;
    transform: translate(-50%,-50%); 
    
    text-align: center; 
}
.box h1{
    color:black; 
    text-transform: uppercase;

    font-weight: 500;

} 
table, th, td {
    border: 1px solid black;
    color:black;
    
  }
.box input[type="text"]{
    border: 0; 
    background: none; 
    display: block;
    margin: 20px auto;
    text-align: center; 
    border: 2px solid palevioletred;
    padding: 14px 40px; 
    position: relative; 
    top: 80%;
    left: 10%; 
    width: 150px;
    outline: none;
    color:black;
    border-radius: 0px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: palevioletred;
}
.box button[type="submit"]{ 
    border: 0; 
    background: none; 
    display: inline-block; 
    margin: 15px auto; 
    text-align: center; 
    border: 2px solid palevioletred; 
    padding: 14px 40px; 
    
    outline: none; 
    color:black; 
    border-radius: 24px; 
    transition: 0.25s; 
    cursor: pointer; 
} 
.box button[type="submit"]:hover{
    background: palevioletred;
}
/*
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:  #34495e"
}
.box{ 
    width: 1000px;
    padding: 1000px;
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%); 
    background: #191919;
    text-align: center; 
}
.box h1{
    color: white; 
    text-transform: uppercase;
    font-weight: 500;
} 
table, th, td {
    border: 1px solid white;
    color: white;
  }
  

.box input[type="submit"]{
    border: 0; 
    background: none; 
    display: block;
    margin: 20px auto;
    text-align: left; 
    border: 2px solid #2ecc71;
    padding: 14px 40px; 
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: #2ecc71;
}
*/