body{ 
    margin: 0; 
    padding: 0; 
    font-family: sans-serif; 
    background-image: url("background1.png");
    background-size: 100%;
} 
.box{ 
     width: 100px;
     padding: 100px;
    background-color: white;

    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    
    text-align: center; 
} 
.box h1{ 
    color: black; 
    text-transform: uppercase; 
    font-weight: 500; 
} 
.box input[type="text"],.box input[type="password"]{ 
    border: 0; 
    background: none; 
    display: block; 
    margin: 15px auto; 
    text-align: center; 
    border: 2px solid #3498db; 
    padding: 14px 10px; 
    width: 175px; 
    outline: none; 
    color: black; 
    border-radius: 24px; 
    transition: 0.25s; 
} 
.box input[type="text"]:focus,.box input[type="password"]:focus{ 
    width: 280px; 
    border-color: palevioletred; 
} 
.box button[type="submit"]{ 
    border: 0; 
    background: none; 
    display: block; 
    margin: 15px auto; 
    text-align: center; 
    border: 2px solid palevioletred; 
    padding: 14px 40px; 
    outline: none; 
    color:black; 
    border-radius: 24px; 
    transition: 0.25s; 
    cursor: pointer; 
} 
.box [type="submit"]:hover{
    background: palevioletred;
}